/* 网站整体为方格背景 */
*{
    margin: 0;
}
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(250, 246, 246, 0.8);
    /* background-color: #d3eec1; */
    /* 方格背景 */
    background: linear-gradient(90deg, rgba(200, 200, 200, 0.1) 3%, transparent 0),
    linear-gradient(rgba(200, 200, 200, 0.1) 3%, transparent 0);
    background-size: 20px 20px;
}

/* 隐藏的侧边栏样式 */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fcfbf0;
    /* background-color: rgba(228, 227, 227, 0.8); */
    /* background-color: rgb(208, 213, 169); */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* 侧边栏链接样式 */
.sidebar a {
    text-align: center;/* a标签左右居中 */
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* 当鼠标悬停在链接上时的样式 */
.sidebar a:hover {
    background-color: rgba(224, 247, 245, 0.8);
    color: rgb(228, 172, 135);
}

/* 关闭按钮的样式 */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
}
.sidebar .closebtn:hover{
    color: red;
    background-color: #fff;
}
.sidebar img{
    margin-left: 32%;
    width: 80px;
    height: 80px;
    border-radius: 50%; 
}
.sidebar .switch{
    position: absolute;
    left: 0;
    bottom: 7%;
}.sidebar .switch:hover{
    background-color: #fff;
}
.sidebar .switch .icon{
    width: 20px;
    height: 20px;
}
.sidebar .switch .icon{
    fill: #333333
}
.sidebar .switch:hover .icon{
    fill: red;
}
/* 主内容部分的样式 */
#mainContent {
    transition: 0.5s;
}

/* 触发按钮的样式 */
.toggle-btn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 0px;
    color: #111;
}
/* -----------------------侧边栏导航栏 end----------------------- */
/* 头部 */
.herd{
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 60px;
    /* background-color: rgb(228, 172, 135); */
}
.herd p{
    font-weight: bold;
    font-size: 60px;
    color: rgb(247, 166, 166);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.herd span{
    color: #bfbfbf;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
/* 头部 */
/* 图标部分 */
.iconbox{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.iconbox .icon{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    fill: #bfbfbf;
}
.iconbox .icon:hover{
    fill: #ac9898;
}
.iconbox button{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: none;
}
.iconbox button .icon{
    width: 30px;
    height: 30px;
    fill: #bfbfbf;
}
.iconbox button:hover{
    cursor: pointer;
}
/* 图标部分 end*/

/* 作品及笔记页的搜索部分 */
.search-container{
    /* width: 100%; */
    height: 100px;
    /* background-color: #f1d2d2; */
    /* border: 1px solid red; */
}
.search-container .inp{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgba(219, 214, 214, 0.63);
}
.search-container .inp input{
    width: 90%;
    height: 50px;
    font-size: 20px;
    border: none;
}
.search-container .inp button{
    width: 10%;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.search-container .inp button .icon{
    width: 15px;
    height: 15px;
    fill: rgba(219, 214, 214, 0.63);
}
.search-container .inp button:hover .icon{
    fill: red;
}
.search-prompt{
    margin-top: 10px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(219, 214, 214, 0.63);
    color: #888;
}
.search-prompt .red{
    margin: 0px 5px 0px 5px;
    color: red;
}
.classification{
    /* display: flex;
    flex-direction: row; */
    max-width: 100%;
    white-space: nowrap; /* 禁止换行 */
    overflow-x: auto;  /* 超出部分显示水平滑动条 */
    color: rgba(189, 177, 177, 0.8);
}
.classification button{
    line-height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #fff;
    color: rgba(189, 177, 177, 0.8);
}
.classification button:hover{
    cursor: pointer;
    color: red;
}
/* 作品及笔记页的搜索部分 end */
/* 分页部分 */
.pagination{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    /* background-color: #f7cdcd; */
    display: flex;
    justify-content: center;
}
.pagination a{
    display: block;
    width: 80px;
    line-height: 50px;
    font-size: 13px;
    color: black;
    text-decoration: none;
    background-color: #fff;
    text-align: center;
}
.pagination a:hover{
    color: red;
}
.pagination span{
    display: block;
    width: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
}
/* 分页部分 end*/
/* 复制成功 */
.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  z-index: 9999;
  /* pointer-events: none; */
  display: none;
}
/* 复制成功 end */

/* 页脚 */
.foot{
    width: 100%;
    /* border: 1px solid red; */
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.foot a{
    display: block;
    width: 30%;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;         /* 2. 隐藏超出容器的部分 */
    text-overflow: ellipsis;  /* 3. 将被隐藏的部分显示为省略号 */
    /* background-color: #e4e4e4;   */
}
.foot a:hover{
    color: red;
}
/* 页脚 end*/

/* 回到顶部按钮样式 */
#backToTop {
    position: fixed;
    bottom: 100px;
    right: 30px;
    display: none; /* 默认隐藏 */
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 25%;
    cursor: pointer;
}
#backToTop:hover {
    background-color: #c8f2f8;
}
/* 回到顶部按钮样式 end */