/* 网站整体为方格背景 */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(250, 246, 246, 0.8);
    /* background-color: #d3eec1; */
    /* 方格背景 */
    background: linear-gradient(90deg, rgba(200, 200, 200, 0.1) 3%, transparent 0),
    linear-gradient(rgba(200, 200, 200, 0.1) 3%, transparent 0);
    background-size: 20px 20px;
}

/* 隐藏的侧边栏样式 */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fcfbf0;
    /* background-color: rgba(228, 227, 227, 0.8); */
    /* background-color: rgb(208, 213, 169); */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* 侧边栏链接样式 */
.sidebar a {
    text-align: center;/* a标签左右居中 */
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* 当鼠标悬停在链接上时的样式 */
.sidebar a:hover {
    background-color: rgba(224, 247, 245, 0.8);
    color: rgb(228, 172, 135);
}

/* 关闭按钮的样式 */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
}
.sidebar .closebtn:hover{
    color: red;
    background-color: #fff;
}
.sidebar img{
    margin-left: 32%;
    width: 80px;
    height: 80px;
    border-radius: 50%; 
}
.sidebar .switch{
    position: absolute;
    left: 0;
    bottom: 7%;
}.sidebar .switch:hover{
    background-color: #fff;
}
.sidebar .switch .icon{
    width: 20px;
    height: 20px;
}
.sidebar .switch .icon{
    fill: #333333
}
.sidebar .switch:hover .icon{
    fill: red;
}
/* 主内容部分的样式 */
#mainContent {
    transition: 0.5s;
}

/* 触发按钮的样式 */
.toggle-btn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 0px;
    color: #111;
}
/* -----------------------侧边栏导航栏----------------------- */
/* 搜索部分 */
.search-container{
    width: 100%;
    height: 50px;
    background-color: #f1d2d2;
}
.search-container input{
    width: 100%;
    height: 100%;
    font-size: 20px;
}
/* 搜索部分 end */
/* 复制成功 */
.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  z-index: 9999;
  /* pointer-events: none; */
  display: none;
}
/* 复制成功 end */

/* 页脚 */
.foot{
    width: 100%;
    /* border: 1px solid red; */
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.foot a{
    display: block;
    width: 30%;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;         /* 2. 隐藏超出容器的部分 */
    text-overflow: ellipsis;  /* 3. 将被隐藏的部分显示为省略号 */
    /* background-color: #e4e4e4;   */
}
.foot a:hover{
    color: red;
}
/* 页脚 end*/

/* 回到顶部按钮样式 */
#backToTop {
    position: fixed;
    bottom: 100px;
    right: 30px;
    display: none; /* 默认隐藏 */
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 25%;
    cursor: pointer;
}
#backToTop:hover {
    background-color: #c8f2f8;
}
/* 回到顶部按钮样式 end */