.bigbox {
  height: 63vh;
  width: 80vw;
  margin: 20px auto;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
}

.scroll-box {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  display: flex;
  width: max-content;
  animation: scroll 18s linear infinite;
}
/* 鼠标停留时停止滚动 */
.scroll-box:hover {
  animation-play-state: paused;
}

.card-list {
  display: flex;
}

.card {
  width: 300px;
  height: 97%;
  margin-left: 10px;
  /* background: #fff; */
}
.card:hover{
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*  */
.window{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(3, 3, 3, 0.795);
  display: flex;
  justify-content: center;
  align-items: center;
}
.window .center{
  width: 50%;
  height: 95%;
  background-color: #fff;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
.window .center .windowhead{
  width: 100%;
  height: 5%;
  background-color: rgba(3, 3, 3, 0.39);
}
.window .center .windowhead button{
  width: 50px;
  height: 100%;
  float: right;
  font-size: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.window .center .windowhead button:hover{
  color: #fff;
  fill: #fff;
}
.window .center .windowhead button:hover{
  cursor: pointer;
}
.window .center .windowbody{
  width: 100%;
  height: 95%;
  /* background-color: #d1a6a6; */
  /* background-color: #d1a6a6; */
}
.window .center .windowbody img{
  width: 100%;
  height: 100%;
}

/* 页脚 */
.indexfoot {
  /* background-color: white; */
  font-size: 15px;
  color: #cac9c9;
  text-align: center;
}
.indexfoot p{
  font-size: 15px;
  line-height: 60px;
}