/* -----------------------侧边栏导航栏----------------------- */
/* 基本样式 */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    /* 方格背景 */
    background: linear-gradient(90deg, rgba(200, 200, 200, 0.1) 3%, transparent 0),
    linear-gradient(rgba(200, 200, 200, 0.1) 3%, transparent 0);
    background-size: 20px 20px;
}

/* 隐藏的侧边栏样式 */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* 侧边栏链接样式 */
.sidebar a {
    text-align: center;/* a标签左右居中 */
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* 当鼠标悬停在链接上时的样式 */
.sidebar a:hover {
    background-color: rgba(224, 247, 245, 0.8);
    color: rgb(228, 172, 135);
}

/* 关闭按钮的样式 */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}
.sidebar img{
    margin-left: 32%;
    width: 80px;
    height: 80px;
    border-radius: 50%; 
}
/* 主内容部分的样式 */
#mainContent {
    transition: 0.5s;
}

/* 触发按钮的样式 */
.toggle-btn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 0px;
    color: #111;
}
/* -----------------------侧边栏导航栏----------------------- */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #abe1e3; */
    background-color: rgba(250, 246, 246, 0.8);
}
/*------------------------ 正文------------------------ */
.dd{
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    /* background-color: #c78888; */
}

/* 头标 */
.dd .dd1{
    width: 200px;
    height: 200px;
    border: 5px solid #000;
    border-radius: 50%;
    margin: 50px auto;
    /*  */
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dd .dd1 .icon1{
    width: 150px;
    height: 150px;
}

.dd h1{
    margin: 0;
    padding: 0;
    color: #4caf50;
    font-family: "Comic Sans MS", "Brush Script MT", cursive;/* 字体 */
    font-size: 40px;
}

.dd span {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;/* 字体 */
    font-size: 26px;
    color: #333;
}
/* 头标 end*/
/* 时间*/
.dd .time span{
    color: rgb(0, 225, 255);
    font-size: 20px;
}
/* 时间 end*/

/*------------------------ 正文------------------------ */