body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #abe1e3; */
}
/*------------------------ 正文------------------------ */
.dd{
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 350px;
    /* background-color: #c78888; */
}

/* 头标 */
.dd .dd1{
    width: 200px;
    height: 200px;
    border: 5px solid #c8f8f8;
    border-radius: 50%;
    margin: 50px auto;
    /*  */
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dd .dd1 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.dd h1{
    margin: 0;
    padding: 0;
    color: #4caf50;
    font-family: "Comic Sans MS", "Brush Script MT", cursive;/* 字体 */
    font-size: 40px;
}

.dd span {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;/* 字体 */
    font-size: 26px;
    color: #333;
}
/* 头标 end*/
/* 时间*/
.dd .time span{
    color: rgb(0, 225, 255);
    font-size: 20px;
}
/* 时间 end*/
/* iconbox */
.dd .iconbox{
    margin: 5px;
}
.dd .iconbox .icon{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    fill: #bfbfbf;
}
.dd .iconbox .icon:hover{
    fill: #ac9898;
}
/* iconbox end */
/*------------------------ 正文------------------------ */