*{
    padding: 0;
    margin: 0;
}
.body .center{
    height: 100%;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.body .center .center-box{
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding: 0px 10px;
}
.body .center .center-box .overflowy{
    max-height: 60vh;
    overflow-y: auto;
}
.body .center .center-box .overflowy::-webkit-scrollbar{
  display: none;
}
.body .center .center-box .company{
    margin-top: 30px;
    width: 235px;
    margin-bottom: 30px;
    border-radius: 15px 15px 15px 15px;
    background-color: #e1e6e7;
    padding: 10px;
}
.body .center .center-box .diary{
    border: 1px solid rgb(238, 230, 230);
    margin-bottom: 30px;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    background-color: #fff;
}
.body .center .center-box .diary:hover{
    cursor: pointer;
    border: 1px solid rgb(241, 149, 28);
}
.body .center .center-box .diary .time{
    font-size: 15px;
    color: rgb(187, 187, 186);
}
.body .center .center-box .diary .content{
    display: -webkit-box;
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 最多显示两行，多余的部分用...代替 */
    overflow: hidden; /* 隐藏超出的部分 */
    word-break: break-all;
    /* text-indent: 2em;  首行缩进2各字符 */
}
.body .center .center-box div a{
    color: rgb(204, 203, 203);
    text-decoration: none;
}
.body .center .center-box div a:hover{
    color: red;
}
/* window */
.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.window .center{
    width: 80%;
    max-height: 80vh;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.window .btn button{
    width: 30px;
    height: 30px;
    float: right;
    background-color: #fff;
    border: none;
}
.window .btn button:hover{
    color: red;
    cursor: pointer;
}
.window .head span{
    color: rgb(204, 203, 203);
    margin-right: 10px;
}
.window .center .content{
    margin-top: 10px;
    overflow-y: auto;
}
/* .window .center .content{
    text-indent: 2em;  首行缩进2各字符
} */