*{
    margin: 0;
}
/* 头部 */
.herd{
    width: 100%;
    height: 200px;
    text-align: center;
}
.herd p{
    font-weight: bold;
    font-size: 100px;
    color: rgb(236, 210, 210);
    font-family:sans-serif;
}
.herd span{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
/* 头部 */
/* 展览台 */
.nrr{
    /* 这部分的作用是把展览台设置成一个整体，然后设置内容垂直居中 */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.nr{
    width: 80%;
    /* 改用限制最大长度，从而满足手机屏幕自适应 */
    max-width: 1000px;
    /* background-color: #eeeeec; */
    border-radius: 15px;/* 边框圆角 */
    padding: 20px;
}
.nr a{
    text-decoration: none;
}
.item {
    width: 100%;
    height: 300px;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 20px -2px rgb(197, 196, 196);
}
.item:hover{
    box-shadow:1px 20px 20px -2px rgb(197, 196, 196)
}

.item img {
    width: 20%;
    /* height: 90%; */
    border-radius: 5px;
    margin: 10px;
}
.item .desc{
    width: 80%;
    margin-left: 10px;
    color: black;
    display: flex;
    flex-direction: column;
}
.item .desc a{
    color: black;
    text-decoration: none;
}
.item .desc a:hover{
    color: red;
}
.item .desc .title{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    /* font-size: 30px; 标题文字大小 */
    text-align: center; /* 标题居中 */
} 
.item .desc .wb {
    margin-right: 30px;
    overflow: hidden;         /* 2. 隐藏超出容器的部分 */
}
/* 展览台 */
/* 回到顶部按钮样式 */
#backToTop {
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none; /* 默认隐藏 */
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
#backToTop:hover {
    background-color: #c8f2f8;
}
/* 分页部分 */
.pagination{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    /* background-color: #f7cdcd; */
    display: flex;
    justify-content: center;
}
.pagination a{
    display: block;
    line-height: 50px;
    width: 80px;
    font-size: 15px;
    background-color: #fff;
    text-align: center;
}
.pagination span{
    display: block;
    width: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
}