/* -----------------------侧边栏导航栏----------------------- */
/* 基本样式 */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(250, 246, 246, 0.8);
    /* background-color: #d3eec1; */
    /* 方格背景 */
    background: linear-gradient(90deg, rgba(200, 200, 200, 0.1) 3%, transparent 0),
    linear-gradient(rgba(200, 200, 200, 0.1) 3%, transparent 0);
    background-size: 20px 20px;
}

/* 隐藏的侧边栏样式 */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    /* background-color: rgba(228, 227, 227, 0.8); */
    /* background-color: rgb(208, 213, 169); */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* 侧边栏链接样式 */
.sidebar a {
    text-align: center;/* a标签左右居中 */
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* 当鼠标悬停在链接上时的样式 */
.sidebar a:hover {
    background-color: rgba(224, 247, 245, 0.8);
    color: rgb(228, 172, 135);
}

/* 关闭按钮的样式 */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}
.sidebar img{
    margin-left: 32%;
    width: 80px;
    height: 80px;
    border-radius: 50%; 
}
/* 主内容部分的样式 */
#mainContent {
    transition: 0.5s;
}

/* 触发按钮的样式 */
.toggle-btn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 0px;
    color: #111;
}
/* -----------------------侧边栏导航栏----------------------- */

*{
    margin: 0;
}
/* 头部 */
.herd{
    width: 100%;
    height: 200px;
    text-align: center;
}
.herd p{
    font-weight: bold;
    font-size: 100px;
    color: rgb(236, 210, 210);
    font-family:sans-serif;
}
.herd span{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
/* 头部 */
/* 展览台 */
.box{
    width: 100%;
    padding: 30px 0px ;
    /* background-color: #e0afaf; */
}
.box .center{
    width: 70%;
    margin: 30px auto;
    /* background-color: #bea0a0; */
}
/* .card */
.box .center .card a{
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    margin: 0px 30px 0px 30px;
    background-color: #fff;
    border: 1px solid black;
}
.box .center .round{
    width: 15px;
    height: 15px;
    /* margin-right: -9px; */
    margin-left: -9px;
    margin-top: 40px;
    background-color: blue;
    color: black;
    border-radius: 50%;
    float: left;
}
.box .center a:hover{
    color: red;
    border: 1px solid red;
}
.box .center .card .small-card{
    width: 100%;
    height: 100px;
    border-left: 4px solid red;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
}
.box .center .centen{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.box .center .centen p{
    text-align: center;
}
/* .card end*/
/* 展览台 */
/* 回到顶部按钮样式 */
#backToTop {
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none; /* 默认隐藏 */
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
#backToTop:hover {
    background-color: #c8f2f8;
}
/* 分页部分 */
.pagination{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    /* background-color: #f7cdcd; */
    display: flex;
    justify-content: center;
}
.pagination a{
    display: block;
    line-height: 50px;
    width: 80px;
    font-size: 15px;
    background-color: #fff;
    text-align: center;
}
.pagination span{
    display: block;
    width: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
}
/* 公共部分 */




