/* 展览台 */
.nrr{
    /* 这部分的作用是把展览台设置成一个整体，然后设置内容垂直居中 */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.nr{
    width: 80%;
    /* 改用限制最大长度，从而满足手机屏幕自适应 */
    max-width: 1000px;
    /* background-color: #eeeeec; */
    border-radius: 15px;/* 边框圆角 */
    padding: 20px;
}
.nr a{
    text-decoration: none;
}
.item {
    width: 100%;
    /* height: 300px; */
    /* padding: 10px 30px; */
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: 2px 2px 20px -2px rgb(197, 196, 196);
    /* white-space: nowrap; */
    overflow: hidden;         /* 2. 隐藏超出容器的部分 */
}
.item:hover{
    border: 1px solid rgb(197, 196, 196);
    box-shadow:1px 20px 20px -2px rgb(197, 196, 196);
}

.item img {
    width: 20%;
    /* height: 90%; */
    border-radius: 5px;
    margin: 10px;
}
.item .desc{
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    /* background-color: #eec7c7; */
}
.item .desc a{
    color: black;
    text-decoration: none;
}
.item .desc a:hover{
    color: red;
}
.item .desc .title{
    /* margin-top: 10px; */
    font-size: 20px;
    font-weight: bolder;
    /* font-size: 30px; 标题文字大小 */
    text-align: center; /* 标题居中 */
} 
.item .desc .spanicon{
    color: #989898;
}
.item .desc .spanicon .icon{
    width: 15px;
    height: 15px;
}
.item .desc .api a{
    color: rgb(134, 196, 247);
    font-size: 15px;
}
.item .desc .api a:hover{
    color: red;
}
/* 展览台 */
/* 回到顶部按钮样式 */
#backToTop {
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none; /* 默认隐藏 */
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
#backToTop:hover {
    background-color: #c8f2f8;
}