/* -----------------------侧边栏导航栏----------------------- */
/* 基本样式 */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(250, 246, 246, 0.8);
    /* background-color: #d3eec1; */
}

/* 隐藏的侧边栏样式 */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    /* background-color: rgba(228, 227, 227, 0.8); */
    /* background-color: rgb(208, 213, 169); */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* 侧边栏链接样式 */
.sidebar a {
    text-align: center;/* a标签左右居中 */
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* 当鼠标悬停在链接上时的样式 */
.sidebar a:hover {
    background-color: rgba(224, 247, 245, 0.8);
    color: rgb(228, 172, 135);
}

/* 关闭按钮的样式 */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}
.sidebar img{
    margin-left: 32%;
    width: 80px;
    height: 80px;
    border-radius: 50%; 
}
/* 主内容部分的样式 */
#mainContent {
    transition: 0.5s;
}

/* 触发按钮的样式 */
.toggle-btn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 0px;
    color: #111;
}
/* -----------------------侧边栏导航栏----------------------- */

*{
    margin: 0;
}
/* 头部 */
.herd{
    width: 100%;
    height: 200px;
    text-align: center;
}
.herd p{
    font-weight: bold;
    font-size: 100px;
    color: rgb(236, 210, 210);
    font-family:sans-serif;
}
.herd span{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
/* 头部 */
/* 展览台 */
.nrr{
    /* 这部分的作用是把展览台设置成一个整体，然后设置内容垂直居中 */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.nr{
    width: 80%;
    /* background-color: #eeeeec; */
    border-radius: 15px;/* 边框圆角 */
    padding: 20px;
}
/* 分类部分 */
.Classification{
    width: 100%;
    height: 50px;
    /* background-color: #f0c3c3; */
}
.Classification button{
    width: 100px;
    height: 100%;
    margin-left: 30px;
}

.nr a{
    text-decoration: none;
}
.item {
    width: 100%;
    height: 300px;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 20px -2px rgb(197, 196, 196);
}
.item:hover{
    box-shadow:1px 20px 20px -2px rgb(197, 196, 196)
}

.item img {
    width: 30%;
    /* height: 90%; */
    border-radius: 5px;
    margin: 10px;
}
.item .desc{
    width: 70%;
    margin-left: 10px;
    color: black;
    display: flex;
    flex-direction: column;
}
.item .desc .title{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    /* font-size: 30px; 标题文字大小 */
    text-align: center; /* 标题居中 */
} 
.item .desc .wb {
    /* border: 1px solid red; */
    margin-right: 30px;
    padding: 10px;
    /* 关键：当内容在水平方向上溢出时，显示滚动条 */
    overflow-y: auto;/* 垂直滚动条 */
    padding: 8px 12px;
    border-radius: 4px;
}
.item .desc .api{
    height: 100px;
    /* background-color: #b18e8e; */
    /* line-height: 30px; */
    padding: 5px 0px 5px 0px;
    max-width: 80%;
    overflow-x: auto;/* 水平滚动条 */
    white-space: nowrap;
}
/* 展览台 */
/* 回到顶部按钮样式 */
#backToTop {
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none; /* 默认隐藏 */
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
#backToTop:hover {
    background-color: #c8f2f8;
}
/* 分页部分 */
.pagination{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    /* background-color: #f7cdcd; */
    display: flex;
    justify-content: center;
}
.pagination a{
    display: block;
    line-height: 50px;
    width: 80px;
    font-size: 15px;
    background-color: #fff;
    text-align: center;
}
.pagination span{
    display: block;
    width: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
}