*{
  margin: 0;
  padding: 0;
}
.navigation{
  width: 100%;
  background-color: rgb(243, 209, 177);
  display: flex;
  justify-content: center;
}
.navigation .center{
  width: 80%;
  height: 80px;
  /* background-color: rgb(155, 153, 153); */
  display: flex;
  justify-content: space-between;
}
.navigation .right{
  margin-left: 00px;
  background-color: #fff;
}
.navigation  ul li{
  height: 100%;
  margin-right: 30px;
  font-size: 20px;
  line-height: 60px;
  margin-top: 10px;
  margin-left: 150px;
  list-style: none;
  /* background-color: #fff; */
  float: left;
}
.navigation .right ul li:hover{
  border-bottom: 5px solid red;
}
.navigation ul li a{
  text-decoration: none;
}
.Slideshow{
  height: 800px;
  background-color: red;
  /* border: 1px solid red; */
}
.Slideshow img{
  width: 100%;
  height: 100%;
}
.Slideshow .text{
  position:absolute;
  top: 300px;
  left: 100px;
  width: 30%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.Slideshow .text p{
  font-size: 60px;
  font-weight: bolder;
  color: aqua;
}
.Slideshow .text span{
  font-style: 20px;
  color: aqua;
}
/* Slideshowtwo */
.Slideshowtwo{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.Slideshowtwo .center{
  width: 80%;
  /*background-color: yellow;*/
}
.Slideshowtwo .center a{
  display: block;
  width: 200px;
  height: 40px;
  margin-top: 30px;
  line-height: 40px;
  margin-left: 10px;
  float: left;
  background-color:red;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.Slideshowtwo .center a:hover{
  background-color: #7cdfec;
}
/* Slideshowthree */
.Slideshowthree{
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}
.Slideshowthree .center{
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}
.Slideshowthree .cp1,.cp2,.cp3{
  width: 300px;
  height: 400px;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid rgb(199, 227, 253);
}
.Slideshowthree .cp1{
  background-image: url(../img/10.jpg);
  background-size:cover;
}
.Slideshowthree .cp2{
  background-image: url(../img/11.jpg);
  background-size:cover;
}
.Slideshowthree .cp3{
  background-image: url(../img/12.jpg);
  background-size:cover;
}
.Slideshowthree .cp1 .desc,
.Slideshowthree .cp2 .desc,
.Slideshowthree .cp3 .desc
{
  width: 300px;
  height: 50px;
  color: #fff;
  position: absolute;/*绝对定位*/
  margin-top: 350px;/*desc盒子覆盖在item盒子上。*/
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgb(43, 89, 238);
  text-align: center;
  line-height: 40px;
}
.Slideshowthree .cp1:hover .desc,
.Slideshowthree .cp2:hover .desc,
.Slideshowthree .cp3:hover .desc
{
  background-color: rgb(159, 230, 226);
  color: black;
}
/* 页脚 */
.footer{ 
  margin-top: 20px;
}
.footer span{ 
  display:block;
  margin:0 auto; 
  line-height:26px; 
  font-size:12px; 
  color:#a7a4a4; 
  text-align:center;
}
.footer span a{
  color:#a7a4a4;
  text-decoration: none;
}
.footer span a:hover{
  color: red;
}