.chat{
    width: 100%;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
}
.chat header, nav, footer {
    text-align: center;
    margin-bottom: 20px;
  }
  
.chat  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #0077cc;
}
  
.chat .chat-box {
    border: 1px solid #ccc;
    padding: 20px;
    height: 65vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.chat .chat-a{
    width: 100%;
    text-align: right;
    background-color: #f8adad;
}
.chat .user {
    white-space: nowrap;
    margin-top: 15px;
    /* width: 300px; */
    /* background-color: #9bee4d; */
    border-radius: 5px;
}
.chat .user .icon{
    width: 30px;
    height: 30px;
    fill: #9bee4d;;
    margin-right: 20px;
}
.chat .bot {
    width: 300px;
    margin-top: 15px;
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 10px;
}
.chat .bot .icon{
    width: 30px;
    height: 30px;
    fill: #14cff0;
    /* margin-right: 20px; */
}
.chat button:hover{
    background-color: #a9ebf7;
    cursor: pointer;
}
 .rmht{
    width: 100%;
    /* background-color: #d0f1ba; */
    display: flex;
    justify-content: center;
    color: rgb(189, 189, 188);
 }
.rmht .rmhcenter{
    width: 700px;
    max-width: 700px;
    padding: 10px;
    overflow-x: auto;
    /* background-color: #e2bdbd; */
    white-space: nowrap;
  }
.rmht .rmhcenter button{
    height: 35px;
    background-color: #fff;
    border: none;
    color: rgb(189, 189, 188);
}
.rmht .rmhcenter button:hover{
    color: red;
}
.inputbox{
    width: 100%;
    /* background-color: #ebb8b8; */
    display: flex;
    justify-content: center;
}
.inputbox .center{
    width: 700px;
    max-width: 700px;
    border-radius: 15px;
    margin-top: 20px;
    border: 1px solid rgb(153, 152, 152);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.inputbox .center input{
    width: 80%;
    height: 40px;
    border: none;
    padding-left: 30px;
}
.inputbox .center button{
    width: 20%;
    height: 100%;
    border: none;
}