/*--导航栏区--*/
*{
    margin: 0;
    padding: 0;
}
.one{
    width: 100%;/*导航栏长度*/
    height: 50px; /*导航栏高度*/
    background-color: yellow;/*导航栏颜色*/
}
.one a{
    display: block;/*把a标签设置成盒子 */
    height: 30px;/*设置盒子高度*/
    width: 180px;/*设置盒子长度*/
    float: left;/*设置盒子左边挨着*/
    color:brown;/*设置a标签的字体颜色 */
    line-height: 50px;/*设置a标签与顶部的距离 */
    text-align: center;/*设置a标签在该模块左右居中 */
    text-decoration:none;/*去掉a标签的下划线*/   
}
.one a:hover {
    height: 50px;/*鼠标悬停，放到标签上的时候的高度*/
    background-color: #2aa559; 
    color: #f6f3f3;
}



/*--内容区--*/
*{
    /* 内外边距为0 */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* 去掉没必要的样式 */
}
.ii img{
    width: 100%;
    height: 490px;
}
body{
    background-color: #26b3de;
}
table{
    background-color: #fff;
    border-collapse: separate; /* 设置边框独立 */
    border-spacing: 30px; /* 设置单元格之间的间距 */
}
table img{
    width: 500px;
    height: 200px;
}
span{
    color: red;
    font-size: 30px;
}
table tr td{
    text-align: justify;/*设置文字两端对齐*/
    width: 30px;
}

/*景色介绍栏*/
.introduce{
width: 100%;
float: left;
margin-top: 5%;
}
.introduce_P{
    width: 100%;
    top: 30px;
    text-align: center;
    font-size: 18px;
}
.introduce_P a{
    text-decoration: none;
}
.introduce_P span{
    padding: 1% 2%;
    border-top: 2px solid #2e6ec6;
    border-bottom: 2px solid #2e6ec6;
}
.introduce_D{
    width: 100%;
    float: left;
    margin-top: 3%;
}
.introduce_D ul{
    width: 100%;
    margin: 0 auto;
}
.introduce_D ul li{
    position: relative;
    float: left;
    width: 30%;
    height: 164px;
    margin-top: 6%;
    font-size: 13px;
    list-style: none;
    margin-left: 2.5%;
}
.introduce_D ul li img{
    position: absolute;
    width: 100%;
    height: 100%;
}
/* 页脚 */
.footer{ 
    margin-top: 20px;
}
.footer span{ 
    display:block;
    margin:0 auto; 
    line-height:26px; 
    font-size:12px; 
    color:#5b5b5b; 
    text-align:center;
}
/* 页脚 end */